#
# Configuration options
#

#
# Build configuration
#
#  Changing any of these values needs you to rebuild the image
#

VERSION=latest
BDATE=20210101
LOCALE=de_DE
# Database postgres version
POSTGRES_VERSION=11
# Kivitendo name of template to create/use
KIVITENDO_TEMPLATE=company

#
# Runtime configuration
#
#  You should remove the existing container (docker-compose down)
#  and maybe any database and/or configuration files before 'docker-compose up -d'
#

# Container names
NAME_KIVI=kivid
NAME_DB=postgres2

# Container restart policy
RESTART_POLICY=unless-stopped

# System locales & time zone
locale=$LOCALE
TZ=Europe/Berlin

# Kivitendo version to check out
#  Set this to a specific release (e.g. kivitendo_version=release-3.5.6)
#  or to 'master' to work with the latest version
kivitendo_version=master

# Name of branch for private customizations
kivitendo_branch=customize

# activate CRM modules
CRM=yes

# Exposed HTTP port
HTTP_PORT=80

# Exposed CUPS port
CUPS_PORT=631

# IP address of this Docker host
DOCKER_HOST_ADDRESS=192.168.99.107

# Database postgres host access & credentials
postgres_host=localhost
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata1
postgres_user=postgres
postgres_password=postgres

# Kivitendo credentials
kivitendo_user=kivitendo
kivitendo_password=kivitendo
kivitendo_adminpassword=admin123

# Kivitendo name of template to create/use
#kivitendo_template=${KIVITENDO_TEMPLATE}

# CUPS printing credentials
cups_user=admin
cups_password=admin

# WEBDAV credentials
webdav_user=webdav
webdav_password=webdav

